<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Spring Boot CORS Example</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/home.js"></script>
</head>
<body>
    <span id="cors">
        <p>
        <h1> Test Secure CORS App - By calling Home!</h1>
        </p>
        <div class="container" align="center">
            <button id="call" type="button" class="btn btn-primary">Call HomeResource </button>
        </div>
    </span>
    <h1 id="response">
    </h1>
</body>
</html>